


<div class="container">
  <h1 class="mb-3">Hi<%= current_user.nickname ? ", #{current_user.nickname}!" : "!" %></h1>

  <div class="notifications">
  <h2>Notifications (<%= @notifications.count %>)</h2>
    <% @notifications.each do |notification| %>    
      <div class="notification">
      <%= image_tag "useravatar.png", class: "avatar" %>
      <div class="notification-content">
        <p class="text-body"><%= link_to argument_path(notification.argument) do %>
          <%= notification.message %>
        <% end %></p>
        <p class="text-muted"><%= time_ago_in_words(notification.created_at) %> ago</p>
      </div>
    </div>

  <% end %>
</div>
