
<div class="container">

  <%# Hi card %>
  <section class="card mb-3">
    <div class="card-body p-2">
      <div class="row no-gutters">
        <div class="col-4 col-md-3">
          <% if user_signed_in? && @user.profile_picture.attached? %>
            <%= cl_image_tag @user.profile_picture.key, class: "w-100" %>
          <% else %>
              <%= image_tag "useravatar.png", class: "w-100"%>
          <% end %>
          <%# removed ability to edit the profile picture %>
        </div>
        <div class="col">
          <div class="pl-3">
            <h3><%= @user.nickname %>'s profile</h3>
            <%# removed email %>
            <div class="row">
              <div class="col-auto">
                <div class="row no-gutters">
                  <div class="col-auto">
                    <i class="fas fa-comment count-icon-counterargument" title="Coutnerarguments" aria-label="Counterarguments"></i>
                  </div>
                  <div class="col-auto">
                    <%= @counterarguments_count %>
                  </div>
                </div>
              </div>
              <div>
              </div>
              <div class="col-auto">
                <div class="row no-gutters">
                  <div class="col-auto">
                    <i class="fas fa-comment count-icon" title="Arguments" aria-label="Arguments"></i>
                  </div>
                  <div class="col-auto">
                    <%= @arguments_count %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<div class="row no-gutter">
  <div class="col-lg-6">
  <h2>Badges</h2>
  <section class="card mb-3">
    <div class="card-body p-2">
      <div class="row no-gutters">
        <div class="col-4 text-center">
          <%= image_tag "smoothtalker.png", alt: "smooth talker badge", class:"badge-img", id: (@posts >= 10 ? "earned" : "") %>
        </div>
        <div class="col-4 text-center">
          <%= image_tag "thediplomat.png", alt: "diplomat badge", class:"badge-img", id: (@posts >= 25 ? "earned" : "") %>
        </div>
        <div class="col-4 text-center">
          <%= image_tag "greatdebater.png", alt: "great debater badge", class:"badge-img", id: (@posts >= 100 ? "earned" : "") %>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-4 text-center">
          <%= image_tag "fanclub.png", alt: "fanclub badge", class:"badge-img", id: (@upvotes >= 15 ? "earned" : "") %>
        </div>
        <div class="col-4 text-center">
           <%= image_tag "legitelected.png", alt: "legit elected badge", class:"badge-img", id: (@upvotes >= 50 ? "earned" : "") %>
        </div>
        <div class="col-4 text-center">
           <%= image_tag "famous.png", alt: "famous badge", class:"badge-img", id: (@upvotes >= 125 ? "earned" : "") %>
        </div>
      </div>
    </div>
  </section>
</div>

  <!-- Points section -->
 <div class="col-lg-6">
<h2>Points</h2>
  <section class="card mb-3">
    <div class="card-body p-0">
      <div class="row no-gutters">
        <div class="col-4 mt-2 text-center">
          <%= image_tag "yellow-bubble.svg", alt: "counter arguments bubble", class:"points-img" %>
          <h3><%= @posts %></h3>
          <p>Counters</p>
        </div>
        <div class="col-4 mt-2 text-center">
          <%= image_tag "upvote-icon.svg", alt: "upvotes", class:"points-img" %>
          <h3><%= @upvotes %></h3>
          <p>Upvotes</p>
        </div>
        <div class="col-4 text-center points-total">
          <p>Total Points</p>
          <h2><%= @points %></h2>

        </div>
      </div>
    </div>
  </section>
</div>

</div>
  <%# Notifications section removed%>

  <section>
    <h2 style="margin-bottom: 14px;">Arguments <span class="text-muted">(<%= @arguments.count %>)</h2>

    <% if @arguments.empty? %>
      <p class="text-muted"><%= @user.nickname %> has no arguments.</p>
    <% else %>

      <% @arguments.each do |argument| %>
        <% unless argument.hidden %>
          <div class="card mb-2" id=<%="anchor-#{argument.id}"%>>
            <div class="card-body visit">
              <h3><%= link_to argument.content, argument_path(argument) %></h3>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </section>
</div>