

<% content_for :meta_title, @argument_show.content %>
<%# content_for :meta_description, @tags.join(", ")%>
<%# content_for :meta_image, asset_url("logo.png") %>
<article class="show-argument">
<!-- Parent Argument -->
  <div class="col-12 col-md-12 show-argument-header">
    <div class="container">
      <h1 class="show-argument-title"><%= @argument_show.content %></h1>
      <% if /(.com|.org|.gov|.edu|.ca)/.match?(@argument_show.source) %>
        <p><%= link_to @argument_show.source, /^https?:\/\//.match?(@argument_show.source) ? @argument_show.source : "https://#{@argument_show.source}", class: "show-argument-source", id: "parent-link", target: :_blank %></p>
      <% else %>
        <p class=show-argument-source><%= @argument_show.source %></p>
      <% end %>
      <div class="row no-gutters justify-content-between align-items-center">

        <% if @argument_show.user.profile_picture.attached? && @argument_show.hidden != true %>
          <%= cl_image_tag @argument_show.user.profile_picture.key, class: "avatar" %>
        <% else %>

          <%= image_tag "useravatar.png", class:"avatar" %>
        <% end %>

          <div class="col">
            <p class="show-argument-user"><%=@argument_show.hidden ? "Submitted by: anonymous" : "Submitted by: #{@argument_show.user.nickname}"  %></p>
            <p class="show-argument-date"><%= time_ago_in_words(@argument_show.created_at) %> ago</p>
          </div>
          <div class="col-auto">
            <div class="d-flex">
              <%= social_share_button_tag(@argument_show.content, allow_sites: %w(twitter)) %>
              <%= social_share_button_tag('Share to Facebook',
                url: argument_path(@argument_show), desc:  @argument_show.content, allow_sites: %w(facebook)) %>
            </div>
          </div>
      </div>
    </div>
  </div>

  <!-- Child Arguments  -->
  <div class="show-argument-counterarguments">
  <h2 class="d-none">Counterarguments</h2>
    <% @argument_show.children.each do |counterargument| %>
      <div class="container" id="arg-<%= counterargument.id %>">
        <div class="card">
          <div class="card-body">
            <div class="d-flex" id="argument-show-user-info">
              <% if counterargument.user.profile_picture.attached? && counterargument.hidden != true %>
                <%= cl_image_tag counterargument.user.profile_picture.key, class: "avatar" %>
                <div class="user-show-details">
                  <p><%= link_to counterargument.user.nickname, current_user == counterargument.user ? profile_path : visit_profile_path(counterargument.user), class: "text-muted", id: "user-link" %></p>
                  <p class="text-muted"><%= time_ago_in_words(counterargument.created_at) %> ago</p>
                </div>
              <% elsif counterargument.hidden != true %>
                <%= image_tag "useravatar.png", class:"avatar" %>
                <div class="user-show-details">
                  <p><%= link_to counterargument.user.nickname, current_user == counterargument.user ? profile_path : visit_profile_path(counterargument.user), class: "text-muted", id: "user-link" %></p>
                  <p class="text-muted"><%= time_ago_in_words(counterargument.created_at) %> ago</p>
                </div>
              <% else %>
                <%= image_tag "useravatar.png", class:"avatar" %>
                <div class="user-show-details">
                  <p class="text-muted">Anonymous</p>
                  <p class="text-muted"><%= time_ago_in_words(counterargument.created_at) %> ago</p>
                </div>
              <% end %>
            </div>
            <div class="content-show-details">
              <h3><%= link_to counterargument.content, argument_path(counterargument) %></h3>
            </div>
            <div class="source-show-details">
              <% if /(.com|.org|.gov|.edu|.ca)/.match?(counterargument.source) %>
                <p><%= link_to counterargument.source, /^https?:\/\//.match?(counterargument.source) ? counterargument.source : "https://#{counterargument.source}", class: "text-muted", id: "source-link", target: :_blank %></p>
              <% else %>
                <p class="text-muted"><%= counterargument.source %></p>
              <% end %>
            </div>
            <div class="mb-3">
                <%= render partial: "shared/tag", locals: {tag_name: counterargument.tags} %>
            </div>
            <div class="votes">
              <%= link_to argument_votes_path(counterargument, title: "Good source!", category: "source", origin: @argument_show), method: :post do %>
                <div class = 'vote-btn'><p><%= image_tag "upvote-source.svg" %> <%= Vote.source(counterargument.id) %></p></div>
              <% end %>
              <%= link_to argument_votes_path(counterargument, title: "Funny Vote", category: "funny", origin: @argument_show), method: :post do %>
                <div class = 'vote-btn'><p><%= image_tag "upvote-funny.svg" %> <%= Vote.funny(counterargument.id) %></p></div>
              <% end %>
              <%= link_to argument_votes_path(counterargument, title: "Very clear!", category: "concise", origin: @argument_show), method: :post do %>
                <div class = 'vote-btn'><p><%= image_tag "upvote-clear.svg" %> <%= Vote.concise(counterargument.id) %></p></div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>


  <!-- Add counter argument section -->
  <div class="container">
    <div id="Answer">
      <h2>Counter this argument</h2>
    </div>

  <!-- Form to find EXISTING counter argument -->
    <div>
      <%= simple_form_for :search_results, url: search_path, method: "GET" do |f| %>
        <div class="search-bar">
          <input type="text" class="form-control counter-search" name="search" id="counter-search" placeholder="Add an existing counterargument" autocomplete="off"/>
          <%= f.hidden_field :results_ids, id: 'counters', value: '' %>

          <div class="search-bar-icon">
            <i class="fas fa-search" title="Search"></i>
          </div>
        </div>
      <% end %>
    </div>


    <div class="counter-container card" id="counter-container" >
      <div class="card-body row align-items-center">
        <div class="show-argument-counterargument-infos-counter col" id="0">
          <h3 id="counter-title"></h3>
        </div>

        <div class="col-auto">
          <%= simple_form_for [@argument] do |f| %>
            <%= f.hidden_field :parent_id, value: @argument_show.id %>
            <%= f.hidden_field :argument_id, value: :id, class: "counter-hidden-field" %>
            <%= f.button :submit, value: "Add Argument", class: "btn" %>
          <% end %>
        </div>
      </div>
    </div>

  <!-- Form to add a NEW counter argument -->

    <%= render '/arguments/form', arg: @argument_show %>
  </div>

  <div class="related-arguments">
    <div class="container">
      <div class="row">
        <% unless @related_arguments.empty? %>

          <div class="col-lg-6">
            <h2>Related arguments</h2>
            <% @related_arguments.each do |argument| %>
              <div class="notification pl-0">
                <p class="text-body"><%= link_to argument.content, argument_path(argument)%></p>
              </div>
            <% end %>
          </div>

        <% end %>

        <div class="col-12 col-lg">
          <div id="arguments-map"></div>
        </div>
      </div>
    </div>
  </div>
</article>
