
<div class="container">
  <h1>Results list page</h1>

  <%# If results %>
    <% if @arguments %>
    <p><%= @arguments.count %> results</p>
      <% if @selected_tags %>
        <p><strong>Selected filters: </strong>
          <% @selected_tags.each do |tag| %>
            <%= tag.name %> 
          <% end %>
        </p>
      <% end %>
      <ul>
        <% @arguments.each do |argument| %>
          <li><%= link_to argument.content, argument_path(argument) %></li>
        <% end %>
      </ul>

    <%# Filters %>
    <div>
      <ul>
        <% @tags.each do |name, count| %>
          <%# On click, add the tag to the parameters. The tags are seperated by | %>
          <li>
            <%= link_to "#{name} (#{count})", search_path(
            search_results: {
              results_ids: @results,
              tag: "#{params[:search_results][:tag] ? params[:search_results][:tag] + '|' : ''}#{name}"
              }
            )
            %>
          </li>
        <% end %>
      </ul>
    </div>
    
    <%# else: if no results %>
    <% else %>
      <p>No results for "<%= params[:search] %>".</p>
      <%= link_to  "Add an argument", new_argument_path %>
    <% end %>
</div>
