<!DOCTYPE html>
<html>
  <head>

    <meta name="algolia-app-id" content="<%= ENV["ALGOLIA_APP_ID"] %>">
    <meta name="algolia-search-only-api-key" content="<%= ENV["ALGOLIA_SEARCH_ONLY_API_KEY"] %>">

    <title>Counterargument</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
