<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag %>

    <meta name="algolia-app-id" content="<%= ENV["ALGOLIA_APP_ID"] %>">
    <meta name="algolia-search-only-api-key" content="<%= ENV["ALGOLIA_SEARCH_ONLY_API_KEY"] %>">

    <title>CounterArgument - Always have the last word</title>
    <meta name="description" content="Short and well sourced counterarguments to any statement.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %><script src="/sigma.min.js"></script>
    <script src="/sigma.parsers.json.min.js"></script>
    <script src="/sigma.layout.forceAtlas2.supervisor.js"></script>
    <script src="/sigma.layout.forceAtlas2.worker.js"></script>


    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">

  </head>

  <body>
    <div class="site-container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <% if current_page?(root_path) %>
        <%= render 'shared/home_header' %>
      <% else %>
        <%= render 'shared/header' %>
      <% end %>
      <%= render 'shared/flashes' %>
      <main class="site-content">
        <%= yield %>
      </main>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
